{% extends 'layout.html' %}

{% block content %} 
<div id="" class="container-fluid">
    <br>

      <h2 class="company_name_heading">PUBLISHERS DETAILS</h2>
    <br>
      
      <div class="table table-bordered">
        
        <table class="table">
          <thead class="">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">PUBLISHERS NAME</th>
              <th scope="col">DATE</th>
              <th scope="col">PUBLISHERS ADDRESS</th>
              <th scope="col">PUBLISHERS PHONE</th>
              <th scope="col">PUBLISHERS EMAIL</th>
              <th scope="col">PUBLISHERS URL</th>
              <th id="edit_header" scope="col">EDIT</th>
              <th id="delete_header" scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody>
             <!-- {% for publishers in publishers_names %} -->
                 <tr>
                   <td>{{publishers.id}}</td>
                   <td>{{publishers.publisher_name}}</td>
                   <td>{{publishers.date}}</td>
                   <td>{{publishers.publisher_address}}</td>
                   <td>{{publishers.publisher_phone}}</td>
                   <td>{{publishers.publisher_email}}</td>
                   <td>{{publishers.publisher_url}}</td>
                  
                   
                   <td>
                    <button class="btn btn-sm btn-primary" id="idDeleteButton">
                     <a href="" style="color: rgb(237, 245, 239)">EDIT</a>
                    

                    </button>
                  
                   
                  </td>
                  
                  <td>
               
                    <button class="btn btn-sm btn-danger" id="idCancelButton">
                     <a href="" style="color: rgb(243, 239, 239)">DELETE</a>
                   
                   </button>
                   </td>
                 </tr>
              <!-- {% endfor %} -->
         </tbody>
      
        </table>
      
      </div>
      
      
      </div>

{% endblock %}