{% extends 'layout.html' %}

{% block content %}
    <h1>Device Information</h1>

    <table id="device-info-table">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in device_info %}
                <tr>
                    <td>Label</td>
                    <td>{{ item.label }}</td>
                </tr>
                <tr>
                    <td>Manufacturer Name</td>
                    <td>{{ item.manufacturerName }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ item.type }}</td>
                </tr>
                <tr>
                    <td>Create Time</td>
                    <td>{{ item.createTime }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Switch Status</td>
                <td>{{ switch_status }}</td>
            </tr>
            <tr>
                <td>Switch Timestamp</td>
                <td>{{ switch_timestamp }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
