<!DOCTYPE html>
<html>
<head>
    <title>Home Automation System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/hamburgmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <meta http-equiv="refresh" content="300"> <!-- Refresh the page every 300 seconds (5 minutes) -->
    
</head>

    {% block body %}

    <body>

            {# navigation bar #}
            {% block navbar %}

            <div class="navbar" id="navbar">
                <div class="navbar-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-list" id="nav-list">
                    <li><a class="active" href="{{ url_for('main.display_dashboard') }}">
                        <i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="{{ url_for('main.display_dashboard') }}">
                        Home Automation System With Awair Element Air Quality Sensor</a></li>
                    <li><a href="{{ url_for('main.display_about_project') }}">About Project</a></li>
                    <li><a href="{{ url_for('main.system_design_tech') }}">System Design & Technology</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('authentication.log_out_user') }}">
                        <i class="fa fa-sign-in"></i> Sign Out
                    </a></li>
                    {% else %}
                    <li><a href="{{ url_for('authentication.do_the_login') }}">
                        <i class="fa fa-registered"></i> Sign In
                    </a></li>
                    {% endif %}
                    <li><a href="">
                        {% if current_user.is_authenticated %}
                            Currently logged in as <b style="color: rgb(247, 242, 242)">{{ current_user.user_name.title() }}</b>
                        {% else %}
                            Not Logged In
                        {% endif %}  
                        </a></li>
                       
                </ul>
            </div>
          <script>
                document.getElementById('mobile-menu').addEventListener('click', function () {
                    document.getElementById('nav-list').classList.toggle('active');
                });

          </script>
          

            {% endblock navbar %}

            {% block sidebar %}
            <div class="sidebar left-sidebar">
                <a href="{{ url_for('main.display_weather_data')}}"><i class=""></i> Weather Data</a>
                <a href="{{ url_for('main.display_sensor_data')}}"><i class=""></i> Sensor Data</a>
                <a href="{{ url_for('main.display_predicted_data')}}"><i class=""></i> Predicted Data</a>
                <a href="{{ url_for('main.display_energy_data')}}"><i class=""></i> Energy Cost Analysis</a>  
                <a href="{{ url_for('main.display_device_info')}}">Device Integration</a>
                <a href="{{ url_for('main.data_analysis')}}">Exploratory Data Analysis</a>
                
                
            </div>
            {% endblock sidebar %}

            <!-- Right Sidebar -->
            <div class="sidebar right-sidebar">
                <a href="{{ url_for('main.pick_model')}}"><i class=""></i> ML Models</a>
                <a href=""><i class=""></i> Add New Device</a>
                <h1 class="device-status-text">Device Status</h1>
                <p class="device-status">
                    
                    Air Cooler: <span id="air-cooler-status" class="{{ 'status-on' if air_cooler_status else 'status-off' }}">
                        {{ 'On' if air_cooler_status else 'Off' }}</span>
                </p> 
                <p class="device-threshold">
                    <u>Air Coller Threshold</u> 
                    <br/><br/>
                    Temperature >= 19 
                    Humidity <= 50
                </p> 
                <button id="stop-button" class="device-stop-btn">STOP</button>  
            </div> 
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var statusElement = document.getElementById('air-cooler-status');
                    var stopButton = document.getElementById('stop-button');
            
                    stopButton.addEventListener('click', function() {
                        fetch('/stop-device', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({}),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to stop the device');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Update the status based on the response
                            var newStatus = data['status'];
                            statusElement.textContent = newStatus ? 'On' : 'Off';
                            statusElement.className = newStatus ? 'status-on' : 'status-off';
                            alert('Device turned off successfully!')
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    });
                });
            </script>
            
            
            <div class="main-content">
                {# empty block for custom content #}
                {% block content %} {% endblock content %}

            </div>
    
            {# footer #}
            {% block footer %}
            <footer>
                <div id="footer">
                    <hr>
                    <p class="text-center small">Home Automation System With Awair Element Air Quality Sensor &copy;	| 2024 </p>
                    <hr>
                </div>
            </footer>
            {% endblock footer %}
    
        </div>
        
    </body>
    {% endblock body %}
    

</html>