.company_header {
    text-align: center;
    padding-top: 10px;
    font-family: "Avant Garde";
}

.btnoutline {
    padding-top: 10px;
    padding-bottom: 20px;
    
}

/* /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .form-group, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
    }
  }

#company_container { 
    margin-top: 0px;
    padding: 50px; 
    padding-bottom: 0px;
    padding-top: 30px;
    margin-bottom: 0px;
    
  } 

 