.custom-frame {
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the frame */
    padding: 10px; /* Add padding for better readability */
    text-align: justify; /* Justify the text */
}

/* Add your custom styles here */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 30vh; /* Adjust the height as needed */
}

.my-custom-alert {
    border: 1px solid #dbe9ea;
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
}